<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Recipe Book</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li *ngIf="isAuthenticated" routerLinkActive="active"><a routerLink="/{{ paths.recipes }}" a>Recipes</a></li>
        <li *ngIf="!isAuthenticated" routerLinkActive="active"><a routerLink="/{{ paths.auth }}" >Authentication</a></li>
        <li routerLinkActive="active"><a routerLink="/{{ paths.shoppingList }}" >Shopping-list</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="isAuthenticated" (click)="onLogout()"><a>Logout</a></li>
        <li *ngIf="isAuthenticated" class="dropdpwn" appDropdown>
          <a class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li (click)="onSaveData()"><a>Saving data</a></li>
            <li (click)="onFetchData()"><a>Fetch data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
