<div class="row">
  <div class="col-xs-12">
    <img [src]="recipeDetails.imagePath" alt="" class="img-responsive img-details">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h2>Recipe name: {{ recipeDetails.name }}</h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group"
    appDropdown>
      <button class="btn btn-primary dropdown-toggle">Manage Recipe <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#" (click)="onAddToTheShoppingList()">To Shopping List</a></li>
        <li><a href="#">Edit Recipe</a></li>
        <li><a href="#">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <strong>Description:</strong>
    <p>{{ recipeDetails.description }}</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <strong>Ingredients: </strong>
    <div class="row">
      <div class="col-xs-12">
        <ul class="list-group">
          <li *ngFor="let ingredient of recipeDetails.ingredients">{{ ingredient.name }} - {{ ingredient.amount }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
